body{
 	background: linear-gradient(to right, #00467f, #a5cc82); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 }
input[type=number] {
   
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.boxes{
	font-size: 20px;
	color:white;
}

  	.parent{
  		display:flex;
  		flex-direction: row;
  		justify-content: space-evenly;
  	}
    
button {
	border-radius: 12px;
    background-color: #336E7B;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

button:hover{
	border: 2px solid #336E7B;
	color:#336E7B;
	background-color:white;
}
